<div id="record_note_section">
    <h4><%= I18n.t("label_record_notes.record_note") %></h4>
    <div class="col-12">
        <div id="professional_note">
            <%= simple_form_for @record_note do |f| %>
                <%= render "record_notes/form", f: f %>
            <% end %>
        </div>
    </div>
</div>
