<%= I18n.t("label_affiliations.fill_the_fields_for_new_affiliation") %>
<br><br>
<div>
    <label> <%= I18n.t("label_institutions.institution") %> </label>

        <%= select_tag :TO_NAME, nil,#options_for_select(@institution_list_for_select),
            prompt: 'Select an option',
            data: { controller: "select2",
            select2_minimuminputlength_value: '3',
            select2_onselectcallurl_value: get_institution_departments_path(professional_id: @professional.CUSTOMER_ID),
            select2_searchurl_value: search_select2_institutions_path()
        } %>
</div>
<br>
<div>
    <div id="departments_for_select" style="text-align: center;">
        <%= button_tag type: :button, class: "btn btn-dark_danger", style: "width: 20%", data: {action: "formtoggle#toggleTargets"} do %>
            <i class="fa-solid fa-ban"></i>
        <% end %>
    </div>
</div>
